<div class="form-box">

  <h3 class="title is-3" style="text-align:center">Registrarse</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, 'Nombre', class: "label" %>
      <div class="control">
        <%= f.text_field :name, autofocus: true, class: "input", :required => true %>
      </div>
    </div>

    <div class="field">
      <%= f.label :avatar, 'Foto de perfil', class: "label"%>
      <div class="control">
        <%= f.file_field :avatar, class: "label" %>
        <% if f.object.avatar? %>
          <%= image_tag f.object.avatar.url %>
        <% end %>
      </div>  
    </div>

    <div class="field">
      <%= f.label :email, 'Email', class: "label" %>
      <div class="control">
        <%= f.email_field :email, autofocus: true, class: "input", :required => true %>
      </div>
    </div>

    <div class="field">
      <%= f.label :city_id, 'Comuna', class: 'label'%>
      <div class="control">
        <div class="select">
          <%= f.collection_select(:city_id, City.all, :id, :name, {:prompt=>"Selecciona una comuna"}, {:required => true})%>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :birthdate, 'Fecha de nacimiento', class: "label" %>
      <div class="control">
        <%= f.date_field :birthdate, autofocus: true, class: "input", :required => true, max: Date.today %>
      </div>
    </div>

    <div class="field">
      <%= f.label :description, 'Descripción', class: "label" %>
      <div class="control">
        <%= f.text_area :description, autofocus: true, class: "textarea", :required => true%>
      </div>
    </div>

    <div class="field">
      <%= f.label :phone_number, 'Numero de celular', class: "label" %>
      <div class="control">
        <%= f.text_field :phone_number, autofocus: true, class: "input", :required => true%>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, 'Contraseña', class: "label" %>
      <div class="control">
        <%= f.password_field :password, class: "input", :required => true%>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirmar contraseña', class: "label" %>
      <div class="control">
        <%= f.password_field :password_confirmation, class: "input", :required => true %>
      </div>
    </div>

    <div class="field">
      <div class="field is-grouped is-grouped-centered">
        <%= f.submit "Registrarse", class: "button is-success" %>
      </div>
    </div>

    <div class="field">
      <div class="field is-grouped is-grouped-centered">
        <%= link_to '¿Ya tienes una cuenta? Inicia sesión', new_user_session_path, class: "tag is-link is-light" %>
      </div>
    </div>
  <% end %>

</div>

